@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    overflow: none;


}
body {
    padding: 20px;
    overflow: none;
}

.footer {
    background-color: #FFF;
    position: absolute;
    bottom: 5px;
    margin: 0 auto;
    width: 100%;
}

.forms-container {
    width: 50%;
    margin: 0 auto;
}

.content {
    width: 80%;
    margin: 20px auto 10px;
}