@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;700&display=swap');

button {
    background-color: #6D8B57!important;
}

.help, button {
    font-family: 'Geologica', sans-serif;
    font-weight: 300;
}